.absolute-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container,
.container-fluid {
    &.no-padding-workaround {
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
    }
}

.h-100-vh{
    height: 100vh;
}
